* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #9ecbff;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
}

nav a:hover {
    color: #007bff;
    text-decoration: underline;
}


.contenedor {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 550px;
}

.division {
    border: 1px solid #120075;
    background-color: #dcedff;
    padding: 20px;
    text-align: center;
    width: 30%;
    margin-bottom: 20px;
}

.division img {
    max-width: 100%;
}

.division h2 {
    font-size: 24px;
    margin: 10px 0;
}

.division h3 {
    font-size: 18px;
    margin: 5px 0;
}

footer {
    text-align: center;
    background-color: #9ecbff;
    padding: 20px;
}
